extends layout

block content
  h1= title
  p Welcome to #{title}
  #standalone-container
  #toolbar-container
    span.ql-formats
      select.ql-font
      select.ql-size
    span.ql-formats
      button.ql-bold
      button.ql-italic
      button.ql-underline
      button.ql-strike
    span.ql-formats
      select.ql-color
      select.ql-background
    span.ql-formats
      button.ql-script(value='sub')
      button.ql-script(value='super')
    span.ql-formats
      button.ql-header(value='1')
      button.ql-header(value='2')
      button.ql-blockquote
      button.ql-code-block
    span.ql-formats
      button.ql-list(value='ordered')
      button.ql-list(value='bullet')
      button.ql-indent(value='-1')
      button.ql-indent(value='+1')
    span.ql-formats
      button.ql-direction(value='rtl')
      select.ql-align
    span.ql-formats
      button.ql-link
      button.ql-image#myimage
      button.ql-video
      button.ql-formula
    span.ql-formats
      button.ql-clean
  #editor-container

  a.btn.btn-primary.mt-1#btnShow(href='/users/view') Show
  #showContent
