doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://cdn.quilljs.com/1.3.6/quill.snow.css', rel='stylesheet')
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
  body
    block content
    script(src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js")
    script(src='https://cdn.quilljs.com/1.3.6/quill.js')
    script(src="javascripts/image-upload.min.js")
    script(src='/javascripts/script.js')

